[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ecocomDP"]
	path = ecocomDP
	url = https://github.com/ediorg/ecocomdp
	shallow = true
	registered = true
